import(methods)
import(BiocGenerics)
import(S4Vectors)
import(GenomicRanges)
import(VariantAnnotation)
importClassesFrom(Biostrings, DNAStringSet)
importMethodsFrom(SummarizedExperiment, rowRanges)

exportPattern("^[^\\.]")
exportClassPattern("^.*$")
